html, body {
  height: 100%;
  margin: auto;
}
.full-height {
  height: 100%;
}
.p1-colorstrip{
  height:5% ;
  width: 100%;
  background-color: #333333;
}
.p2{
  height:20% ;
  box-sizing: border-box;

}
.logodiv{
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  height: 25%;
}
.logo1{
  margin-left: 180px;
  height: 100%;
}
.titlediv{
  box-sizing: border-box;
  float: left;
  text-align: center;
  width: 100%;
  height: 125%;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.p3-content{
  position: relative;
  top: -25px;
  box-sizing: border-box;
  text-align: center;
}